<section id="hero" class="hero">
  <div class="hero-container">
    <span class="hero-badge">
      {{ 'HERO.BADGE' | translate }}
    </span>

    <h1 class="hero-title">
      {{ 'HERO.WELCOME' | translate }}
    </h1>
    <h2 class="hero-name">
      {{ 'HERO.ROLE' | translate }}
    </h2>

    <p class="hero-subtitle">
      {{ 'HERO.SUBTITLE' | translate }}
    </p>

    <a [href]="cvPath" class="hero-button" [attr.download]="cvFileName">
      <span>{{ 'HERO.DOWNLOAD_CV' | translate }}</span>
      <i class="fas fa-download"></i>
    </a>
    
    <!-- Redes sociales -->
    <div class="hero-social">
      <a href="https://www.linkedin.com/in/marc-fort-gonz%C3%A1lez/" target="_blank">
        <img src="../../../assets/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="https://github.com/marcfort1" target="_blank">
        <img src="../../../assets/github.png" alt="GitHub" />
      </a>
    </div>
    
  </div>
</section>
